APP_ENV=development
RESOURCE_API_LOG_LEVEL=INFO
SQLSERVER_CONNECTION_STRING=mssql+pyodbc:///?odbc_connect=Driver%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BServer%3D%28localdb%29%5CMSSQLLocalDB%3BDatabase%3Dbookstore_local%3BTrusted_Connection%3Dyes%3BTrustServerCertificate%3Dyes%3B
